html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    background-color: #232D3F;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.contenedor {
    max-width: 90rem;
    width: 95%;
    margin: 0 auto;
}

.contador {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    margin-top: 10rem;
}

.contador__numero {
    font-size: 5rem;
    background-color: #9BBEC8;
    color: #DDF2FD;
    padding: 2rem;
    border-radius: 1rem;
}

.contador__icono--menos,
.contador__icono--mas {
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 10rem;
    font-size: 8rem;
    border: none;
    border-radius: 3rem;
    background-color: #164863;
    color: #427D9D;
}

.contador__icono--menos:hover,
.contador__icono--mas:hover {
    color: #164863;
    background-color: #427D9D;
}